[submodule "zstd"]
	path = zstd
	url = https://github.com/facebook/zstd.git
[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib.git
[submodule "libelf"]
	path = libelf
	url = https://github.com/arachsys/libelf.git
[submodule "src/cc/libbpf"]
	path = src/cc/libbpf
	url = https://github.com/libbpf/libbpf.git
[submodule "libbpf-tools/bpftool"]
	path = libbpf-tools/bpftool
	url = https://github.com/libbpf/bpftool.git
